.image-1-icon {
    width: 64px;
    height: 64px;
    position: relative;
    border-radius: var(--br-31xl);
    object-fit: cover;
  }
  .jhon-doe,
  .jhondoe {
    position: relative;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .jhon-doe {
    margin: 0;
    align-self: stretch;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .jhondoe {
    flex: 1;
    font-weight: 500;
  }
  .infos7,
  .infos8 {
    display: flex;
    justify-content: flex-start;
  }
  .infos8 {
    width: 47px;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-xs);
  }
  .infos7 {
    width: 117px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .ui-developer {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 19px;
    font-weight: 500;
  }
  .infos5,
  .infos6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .infos6 {
    align-self: stretch;
    padding: var(--padding-5xs) 0;
  }
  .infos5 {
    position: absolute;
    top: 104px;
    left: 48px;
    width: 304px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--text-color);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 450px) {
    .jhon-doe {
      font-size: var(--font-size-base);
      line-height: 15px;
    }
  }
  